# Streamlit
streamlit==1.32.2

# TensorFlow and Keras (matching your training)
tensorflow==2.19.1
keras==2.19.0

# Data handling
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2

# Visualization
matplotlib==3.8.1
pillow==10.4.0
altair==5.2.0

# Other dependencies
protobuf==4.25.3
pyarrow==14.0.2
rich==13.7.1
